@import './reset.less';
@import './variables.less';
body {
  font-size: 14px;
  color: #484848;
  font-family: Circular, PingFang-SC, 'Hiragino Sans GB', '微软雅黑',
    'Microsoft YaHei', 'Heiti SC' !important;
}


.frw, .fr {
  display: flex;
  flex-flow: row wrap;
}

.frcc {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.fccc {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.frcsb {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}